<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel='stylesheet' href="resources/css/pico.min.css">
    <link rel='stylesheet' href="resources/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
<main class='container'>

    <h1 class="h1">Game: Guess number</h1>
    <h2 class="h2">Number in the range from %s to %s</h2>
    <form class="form" method="post">
        <div class="reg">
            <label class="label-input" for="num">Number</label>
            <input class="input-text" id="num" type="number" name="num" placeholder="Input your number"/>
        </div>
        <input class="but-submit" type="submit" value="Submit"/>
    </form>
    <div class="rezult">
        %s
    </div>
</main>
</body>
</html>